<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="dogshow.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="dogshow.Perspective"
            name="RCP Perspective"
            id="DogShow.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ant.ui.openExternalDoc"
                  label="open"
                  style="toggle">
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="new"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="saveAs"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="saveAll"
                  style="push">
            </command>
            <command
                  commandId="dogshow.handler"
                  label="sayHello"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="paste"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="selectAll"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Search">
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  label="search"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Run">
            <command
                  commandId="org.eclipse.debug.ui.commands.RunLast"
                  label="Run"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.debug.ui.commands.RunLast"
                  label="RunAs"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="window">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  label="newWindow"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="showView"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="newWizard"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="DogShow.toolbar1">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="exit"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="dogshow.HelloHandler"
            commandId="dogshow.handler"
            helpContextId="sayHello">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="dogshow.DogShowController"
            id="dogshow.DogShowController"
            name="Dogshow"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="dogshow.DogShowController"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
