<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="featureapp02.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="featureapp02.Perspective"
            name="RCP Perspective"
            id="FeatureApp02.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="FeatureApp02"
            application="FeatureApp02.application">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png,icons/eclipse512.png">
         </property>
      </product>
   </extension>
   <extension
         id="MyFeature02"
         point="org.eclipse.core.runtime.products">
      <product
            application="FeatureApp02.application"
            name="FeatureProduct">
      </product>
   </extension>
   <extension
         id="Feature02"
         point="org.eclipse.core.runtime.products">
      <product
            application="FeatureApp02.application"
            name="MyFeature">
         <property
               name="appName"
               value="MyFeature">
         </property>
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png">
         </property>
         <property
               name="startupForegroundColor"
               value="00FF40">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="FeatureApp02.intro1">
      </intro>
      <introProductBinding
            introId="FeatureApp02.intro1"
            productId="FeatureApp02.product1">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="FeatureApp02.introConfigId"
            introId="FeatureApp02.intro1">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="FeatureApp02.application"
            name="MyFeature">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png">
         </property>
         <property
               name="startupForegroundColor"
               value="00FF40">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="appName"
               value="MyFeature">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
