<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp3.x.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcp3.x.Perspective"
            name="Perspective"
            id="RCP3.x.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="toggle">
            </command>
            <command
                  commandId="org.eclipse.ant.ui.openExternalDoc"
                  label="Open"
                  style="toggle">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="toggle">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="SaveAs"
                  style="toggle">
            </command>
            <command
                  commandId="RcpView.command"
                  label="sayHello"
                  style="push"
                  tooltip="Hello">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  label="newWindow"
                  style="toggle">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="showView"
                  style="toggle">
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="showWizard"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Run">
            <command
                  commandId="org.eclipse.buildship.ui.commands.rundefaulttasks"
                  label="run"
                  style="toggle">
            </command>
            <command
                  commandId="org.eclipse.buildship.ui.commands.openrunconfiguration"
                  label="RunAs"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="RCP3.x.toolbar">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="toggle">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcp3.x.EmpView01"
            id="RCP3.x.EmpView01"
            name="EmpView01"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="RCP3.x.EmpView01"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcp3.x.DogShowController"
            id="RCP3.x.DogShowController"
            name="DogShow"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="RCP3.x.DogShowController"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="rcp3.x.Hello"
            commandId="RcpView.command"
            helpContextId="sayHello">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="RCP3.x.EmpView01"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
